<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
<div>
    <h1>
        <div class="wrapper">
            {{album.Name}}
            <a href="/#/ResourceUploader/{{album.ID}}">
                <button type="button" class="btn btn-success">Add files to this album</button>
            </a>
            <!--<div class="arrow"></div>-->
        </div>
    </h1>

    <div class="container body-content">
        <div style="width:99%; background-color:white">
            <p>{{album.Description}}</p>
            <md-autocomplete ng-disabled="false"
                             md-no-cache="true"
                             md-selected-item="selectedOption"
                             md-search-text="searchText"
                             md-items="item in options"
                             md-item-text="item.Key"
                             md-min-length="0"
                             placeholder="Search query?">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.Value}}</span>
                </md-item-template>
                <md-not-found>
                    No matches for "{{searchText}}" were found.
                </md-not-found>
            </md-autocomplete>

            <div>
                <ul uib-pagination total-items="Total" ng-model="CurrentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></ul>
            </div>

            <div style="clear: left"></div>



            <div style="clear: left"></div>

            <div ng-repeat="resource in resources" style="width: 20%; height: 200px; float: left; padding: 3px" ng-click="showResourcePopup($index)">
                <div class="photo thumbnail">
                    <img style="height:100%" http-src="/api/Resources/GetThumbnailRepresentation/{{resource.Md5}}" ng-if="isVideo(resource) == false" />
                    <video style="height:100%" ng-if="isVideo(resource) == true">
                        <source ng-src="/api/Resources/Get/{{resource.Md5}}?access_token={{token}}" type="video/mp4">
                    </video>
                    <!--instead of showing the video here, an image still will be shown, with ability for user to click and start playback-->
                    <!--<video style="height:100%" controls ng-if="resource.OriginalFileName.toLowerCase().indexOf('.mov')>=0">
        <source src="/api/Resources/{{resource.Md5}}" type="video/mp4">
    </video>-->
                </div>
                <div dx-tag-box="tagOptions"></div>
                <button class="btn btn-success" ng-click="downloadResource(resource.Md5, resource.OriginalFileName)">Download</button>
            </div>


            <div style="clear: left"></div>
            <div>
                <ul uib-pagination total-items="Total" ng-model="CurrentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></ul>
            </div>

            <!--<ul uib-pagination total-items="Total" num-pages="5" items-per-page="$parent.filters.selections.CountPerPage" ng-model="$parent.filters.selections.PageNumber" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></ul>-->
            <p ng-if="(CurrentPage)*(itemsPerPage)<=Total">Showing {{(CurrentPage - 1)*itemsPerPage + 1}} - {{(CurrentPage)*(itemsPerPage)}} of {{Total}}</p>
            <p ng-if="(CurrentPage)*(itemsPerPage)>Total">Showing {{(CurrentPage - 1)*itemsPerPage + 1}} - {{Total}} of {{Total}}</p>




        </div>
        <div class="popup"
             dx-popup="popupOptions">
            <div id="main_video" class="dx-viewport">
                <div id="resourceGallery" dx-gallery="galleryOptions" dx-item-alias="galleryItem">
                    <div data-options="dxTemplate: {name: 'item'}">
                        <div>
                            <!--<img ng-src="{{galleryItem.Image}}" />-->
                            <!--<img style="height:500px" http-src="/api/Resources/Get/{{GetSelectedResource()}}" ng-if="getResourceType() == 'image'" />-->
                            <img style="height:750px" http-src="/api/Resources/Get/{{galleryItem.Md5}}" ng-if="getResourceType(galleryItem) == 'image'" />
                            <div class="blackbg" id="playerstatebg">IDLE</div>
                            <div class=label id="playerstate">IDLE</div>
                            <!--<img src="images/bunny.jpg" id="video_image">-->
                            <div id="video_image_overlay"></div>
                            <video id="embeddedPlayer" style="height:720px" ng-if="isVideo(galleryItem) == true">
                                <source ng-src="/api/Resources/Get/{{galleryItem.Md5}}?access_token={{token}}" type="video/mp4">
                            </video>
                            <p ng-if="getResourceType(galleryItem) == 'generic'">Resource is not an image or video. Download and use with appropriate software.</p>
                        </div>
                    </div>
                </div>

                <div id="media_control">
                    <div id="play"></div>
                    <div id="pause"></div>
                    <div id="progress_bg"></div>
                    <div id="progress"></div>
                    <div id="progress_indicator"></div>
                    <div id="fullscreen_expand"></div>
                    <div id="fullscreen_collapse"></div>
                    <google-cast-launcher id="castbutton"></google-cast-launcher>
                    <div id="audio_bg"></div>
                    <div id="audio_bg_track"></div>
                    <div id="audio_indicator"></div>
                    <div id="audio_bg_level"></div>
                    <div id="audio_on"></div>
                    <div id="audio_off"></div>
                    <div id="duration">00:00:00</div>
                </div>
                <div id="media_info">
                    <div id="media_title">
                        {{selectedFileName}}
                    </div>
                    <div id="media_subtitle">
                    </div>
                    <div id="media_desc">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!--<script>
    window['__onGCastApiAvailable'] = function (isAvailable) {
        if (isAvailable) {
            initializeCastApi();
        }
    };
</script>-->