<h1>
    <div class="wrapper">
        Login
        <div class="arrow"></div>
    </div>
</h1>
<div class="contentbody" ng-controller="loginController">
    <div class="wrapper lightsidecol">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    <form class="form-login" role="form">
                        <h2 class="form-login-heading">Login</h2>
                        <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
                        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                        <div data-ng-hide="message == ''" class="alert alert-danger">
                            {{message}}
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-4">
                <p>Hello there </p>
            </div>
        </div>
    </div>
</div>
